/* _content/ChatWSApp/Components/Layout/MainLayout.razor.rz.scp.css */
/* _content/ChatWSApp/Components/Pages/Chat.razor.rz.scp.css */
hr[b-n5w7zu7ppx]{
    background-color: #5c94ff;
}
h1[b-n5w7zu7ppx]{
    Color : sandybrown;
}
h2[b-n5w7zu7ppx]{
    Color : sandybrown;

}
body[b-n5w7zu7ppx]{
    margin: 0px;
    padding: 0px;
    background-color: #1b1a1f;
}
.message-bubble[b-n5w7zu7ppx]{
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    word-wrap: break-word;
}
.message-text[b-n5w7zu7ppx]{
    font-size: 20px;
    margin: 0px;
    margin-right: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    overflow: clip;
}
#headder[b-n5w7zu7ppx]{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    word-wrap: normal;
    background-color: #20202a;
}
#messagesList[b-n5w7zu7ppx]{
    padding: 0px;
    width: 100%;
    height: 55vh;
    word-wrap: normal;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;

}
#display-left[b-n5w7zu7ppx]{
    padding: 10px;
    position: relative;
    list-style-type: none;
}
#display-room[b-n5w7zu7ppx]{
    padding: 10px;
    margin-left: 0px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
}
#display-right[b-n5w7zu7ppx]{
    padding: 10px;
    position: relative;
    list-style-type: none;
    left: 97%;
    transform: translate(-100%, 0);
}
#rooms-container[b-n5w7zu7ppx]{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
#message-container[b-n5w7zu7ppx]{
    width: 90%;
    display: inline-block;
}
#send[b-n5w7zu7ppx]{
    margin: 10px;
}
#group-input[b-n5w7zu7ppx]{
    display: inline-block;
}
#key-input[b-n5w7zu7ppx]{
    display: inline-block;
}
.form-floating[b-n5w7zu7ppx]{
    display: inline-block;
}
